# Logs de la máquina virtual
hs_err_pid*
replay_pid*

# Archivos de configuración de Eclipse específicos del usuario
*.lock
*.log
*.tmp
*.bak
*.swp
*~.nib
*.DS_Store

# Archivos y carpetas generados automáticamente por Eclipse
.metadata/
*.classpath
*.project
.settings/

# Archivos de configuración del servidor (dependiendo de si son específicos del entorno o no)
Servers/

# Archivos y carpetas específicas del proyecto
01-ejemplo_app/.gitignore
01-ejemplo_app/.settings/
01-ejemplo_app/.classpath
01-ejemplo_app/.project
27_app_crud_cursos/target/classes/entidades/Curso.class
*.class

# Ignorar pom.properties
**/pom.properties

